/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* ALL */
*{
	margin: 0;
	padding: 0;
	/* border: 1px red dashed; */
	box-sizing: border-box;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
/* BODY */
body{
	/* height: 100vh; */
	margin: 40px 0;
		min-height: 500px;
	width: 100vw;
		min-width: 375px;
	
	display: flex;
		justify-content: center;
		align-items: center;
	
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	
	background: #f0f0f0;
}
/* on mobile */
@media only screen and (max-width:500px){
	body{
		font-size: 18px;
	}
}

/* MAIN CARD */
#main-card{
	background: #fff;
	border-top: #ebca04 0.3rem solid;
	border-radius: 0.3rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* FIELD CONTAINER */
.field-container{
	/* border: 1px red dashed; */
	width: 100%;
	margin: 2rem 0;
	padding: 0 1.5rem;
	
	display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
}

/* header */
header{
	text-align: center;
	padding: 1rem 1.5rem 0 1.5rem;
}

/* icons and input */
i, input{
	padding: 1rem;
}

/* icons */
i{
	flex: 0.5;
	text-align: center;
	border-left: 0.3rem #ebca04 solid;
	height: 100%;
	min-height: 100%;
	font-size: 1rem;
	background: #f5f5f5;
}

/* input fields */
input{
	flex: 9.5;
	border: 0;
	font-size: 1rem;
	min-height: 100%;
	border: 1px #000 solid;
}

/* NAME */
#name-container{
	display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
}

#fname-container, #lname-container{
	display: flex;
		justify-content: center;
		align-items: center;
}
#fname-container{
	margin-right: 2rem;
}

/* on mobile */
@media only screen and (max-width:500px){
	#name-container{
		flex-direction: column;
	}
	#fname-container, #lname-container{
		width: 100%;
	}
	#fname-container{
		margin-right: 0;
		margin-bottom: 2rem;
	}
	#name-container i{
		flex: 0.5;
	}
	#name-container input{
		flex: 9.5;
	}
}

/* GENDER */
#gender-container{
	justify-content: left;
	align-items: center;
}
#gender-container input{
	flex: none;
}
#gender-container label{
	margin: 0.5rem 1rem 0.5rem 0.5rem;
}

/* CITY */
#city-container select{
	width: 100%;
	padding: 1rem;
	
	background: none;
	
	font-size: 1rem;
}

/* TAC */
#tac-container{
	justify-content: left;
	align-items: center;
	margin-bottom: 0;
}
#tac-container input{
	flex: none;
}
#tac-container label{
	margin: 0.5rem 1rem;
}

/* Register BTN */
#btn-container{
	margin: 0;
}
#btn{
	border: 0;
	padding: 1rem;
	background: #ebca04;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 0.5rem;
}
#btn:hover{
	background: #ffde18;
}
#btn:active{
	background: #cfb202;
}